header {
    background-color: red;

    grid-column-start: 1;
    grid-column-end: 3;
   
}

footer {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}